{% extends 'base.html.twig' %}

{% block title %}
  Livre d’or des conférences
{% endblock %}

{% block body %}
  <h1 class="mb-4">
    Faîtes-nous un retour !!!
  </h1>

  <ul class="list-group">
    {% for conference in conferences %}
      <li class="list-group-item list-group-item-action"><a href="{{ path('conference', { id: conference.id }) }}">{{ conference.city ~" - "~ conference.year }}</a></li>
    {% endfor %}
  </ul>

{% endblock %}
