{% extends 'base.html.twig' %}

{% block title %}
  {{ conference.city ~ ' - ' ~ conference.year }}
{% endblock %}

{% block body %}
  <h1>
    {{ conference.city ~ ' - ' ~ conference.year }}
  </h1>
  {% if conference.isinternational == true %}
    <h3 class="mb-4">
      Conférence internationale
    </h3>
  {% else %}
    <h3 class="mb-4">
      Conférence locale
    </h3>
  {% endif %}

    {% for comment in comments %}
    <div class="card  mb-4" >
      <ul class="list-group">
        <li class="list-group-item list-group-item-dark">
          <h5>{{ 'De : '~ comment.author ~ ' - email : '~ comment.email ~ ' - date : ' ~  comment.createdAt|date("d-m-Y")}}<h5>
        </li>
        <li class="list-group-item ">
          <h5>{{ comment.text }}</h5>
        </li>
      </ul>
      </div>
    {% endfor %}
{% endblock %}
